.react-kanban-board{
    display: flex;
    justify-content: center;    
}

.react-kanban-column{
    width: 13vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

